<div class="container">
  <div class="row">
    <div class="col l6 center-align row">
      <div class="col l12">
        預覽區塊
        <button (click)="AddItom()" mz-button>圖片</button>
        <button (click)="AddItom()" mz-button>文字</button>
        <button (click)="AddItom()" mz-button>影片</button>
      </div>
      <mz-card class="col l12">
        <mz-card-content>
          <form [formGroup]="form" class="row">
            <div formArrayName="formarray">
              <div class="col l12 row" *ngFor="let item of form.controls['formarray'].controls;let i = index" [formGroupName]="i">
                <div>
                  {{item.controls['data'].value}}
                </div>
                <input type="text" formControlName="data">
              </div>
            </div>
          </form>
        </mz-card-content>
      </mz-card>
    </div>
    <div class="col l6 center-align">
      編輯區塊
    </div>
  </div>
</div>
